.LoginForm {
    margin: 70px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px rgba(204, 204, 204, 0.438);
    border: 1px solid rgb(151, 204, 158);
    padding: 10px;
   box-sizing: border-box;
   background-color: white;
}

.Container {
        display: flex;
        flex-direction: column;
}